<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Atlas Georeference and Clip</Name><AddInID>{eee26856-dbb4-4b22-b12a-c47d5138198d}</AddInID><Description>Tool for automatically georeferencing and clipping scanned atlas images</Description><Version>1.1</Version><Image>Images\logo.png</Image><Author>JHU Sheridan Libraries</Author><Company>JHU Sheridan Libraries</Company><Date>05/15/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="geoclip_addin.py" namespace="geoclip_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Select Image" category="Atlas Georeference and Clip" class="SelectImageBox" id="geoclip_addin.selectImageBox" itemSizeString="WWWWWWWWWWWWWW" message="Select the map image you'd like to geo reference and clip." rows="4" sizeString="WWWWWWWWWWWWWW" tip="Select the map image you'd like to geo reference and clip."><Help heading="" /></ComboBox>
        <Tool caption="Select Points" category="Atlas Georeference and Clip" class="SelectPointsTool" id="geoclip_addin.selectPointsTool" image="Images\Point.png" message="Select the four corners of the image to clip." tip="Select the four corners of the image to clip."><Help heading="Select The Corners of the Map">Select the four corners of the map image without the borders. Starting in the top left and working clockwise to the bottom left.</Help></Tool>
        <Button caption="Run" category="Atlas Georeference and Clip" class="RunButtonClass" id="geoclip_addin.runButton" image="" message="Will georeference and clip the selected image" tip="Run the georeferencing and clipping"><Help heading="" /></Button>
        <ComboBox caption="ShapeFile" category="Atlas Georeference and Clip" class="ShapeFileComboBox" id="geoclip_addin.shpFilecombobox" itemSizeString="WWWWWWWWWWWWWW" message="Select the shapefile for baltimore city used to georeference the atlas images." rows="4" sizeString="WWWWWWWWWWWWWW" tip="Select the shapefile of the baltimore city grid"><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Atlas Georeference and Clip" category="Atlas Georeference and Clip" id="geoclip_addin.toolbar" showInitially="true"><Items><ComboBox refID="geoclip_addin.selectImageBox" /><ComboBox refID="geoclip_addin.shpFilecombobox" /><Tool refID="geoclip_addin.selectPointsTool" /><Button refID="geoclip_addin.runButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>